html, body{
  font-family: arial, helvetica;
  text-align: center;
  background-color: pink;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
}
h1{
  margin: 0 auto;
  width: 100vw;
  height: 100px;
  background-image: url(milkshake.jpg);
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;


}
p{
  font-size: 20px;
  background: -webkit-linear-gradient(red, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  margin-bottom: 50px;
}
form{
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 150px 300px 180px 50px;
  grid-template-columns: 1fr;
}
#age{
  margin-left: -94px;
}
#gender{
  margin-left: -100px;
}

.table{
 display:flex;
 justify-content: center;
}
ul{
  list-style: none;
}
#plain_radios {
  padding: 0;
}
.list{
  text-align: left;
}
  textarea{
  width: 350px;
  height: 100px
}
